services:
  - type: web
    name: paginatto-pix-pending
    env: python
    pythonVersion: 3.11
    plan: free
    buildCommand: |
      export CARGO_HOME=/tmp/cargo
      export RUSTUP_HOME=/tmp/rustup
      pip install --upgrade pip
      pip install --prefer-binary -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: ZAPI_INSTANCE
        sync: false
      - key: ZAPI_TOKEN
        sync: false
      - key: ZAPI_CLIENT_TOKEN
        sync: false
      - key: WHATSAPP_SENDER_NAME
        value: paginatto
      - key: MSG_TEMPLATE
        value: "Olha voce aí {name}! Vi que você gerou um PIX do produto {product} no valor de {price} e não finalizou. Se precisar, posso te ajudar. Seu link: {checkout_url}"

